body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-image: linear-gradient(rgb(247, 188, 160), rgb(247, 188, 160));
}

textarea {
  background: transparent;
  color: #000000;
  text-align: center;
  font-weight: bold;
  height:100%;
  width: 100%;
  border-top: 1px rgba(255, 255, 255, 75);
  resize: none;
  border: none;
  padding-top: 30px;
}

.jumbotron {
  text-align: center;
  background-image: linear-gradient(rgb(232, 158, 250), rgb(247, 188, 160));
  color: black;
  text-shadow: 2px 2px rgb(226, 226, 226);
  border-radius: 0;
  margin-bottom: -20px;
}

.lead {
  text-shadow: 2px 2px rgb(226, 226, 226);
}

#currentDay {
  font-weight:bold;
  font-size: 18px;

}

.hour-block {
  text-align: center;
  border-radius: 15px;
}

.col-md-8 {
  border-top: black 2px solid;
}

.row {
  white-space: pre-wrap;
  height: 75px;
}

.hour {
  background-color: #d8a0f7;
  color: #000000;
  border-top: 2px solid #000000;
  border-right: 2px solid #000000;
  padding-top:30px;
  font-weight: bold;
}

.hour:hover {
  background-color: #aa7ec2;
  text-shadow: 2px 2px rgb(226, 226, 226);
}

.past {
  background-color: #f87676;
}

.current {
  background-color: #e7e7e7;
  font-size: 20px;
  font-weight: bolder;
}

.current:hover {
  background-color: #cccccc;

}

.upcoming {
  background-color: #77dd77;
}

.saveTime {
  background-color: #bef7a0;
  color: black;
  border-top: black 2px solid;
  border-left: black 2px solid;
  font-weight: bold;
  padding-top: 30px;
}

.saveTime:hover {
  cursor:pointer;
  background-color: #cfcfcf;
  text-shadow: 2px 2px rgb(226, 226, 226);
}
